@model User
@{
    ViewData["Title"] = "Detalles de Usuario";
}
@{
    User user2 = ViewBag.User as User;
    Console.WriteLine(user2.CodigoAcceso);
}
<h1>@ViewData["Title"]</h1>

<p>En esta página se muestra el detalle de los productos.</p>

<div class="mb-3">
    <label>Nombres Completos:</label>
    <input asp-for="Nombres" class="form-control" readonly>
</div>
<div class="mb-3">
    <label>Apellidos Completos: </label>
    <input asp-for="Apellidos" class="form-control" readonly>
</div>
<div class="mb-3">
    <label>Cedula: </label>
    <input asp-for="Cedula" readonly class="form-control">
</div>
<div class="mb-3">
    <label>Tiene un libro retirado?</label>
    <textarea asp-for="HaRetirado" readonly class="form-control"></textarea>
</div>
    @if (Model.HaRetirado)
    {
        <div class="mb-3">
            <label>Id Libro Retirado:</label>
            <input asp-for="IdLibroRetirado" class="form-control" readonly>
        </div>
    }
<div class="row col-6">
    <div class="col-6">
        <form method="post" asp-area="" asp-controller="User" asp-action="Index">
            <textarea name="user" style="display:none;">@Json.Serialize(user2)</textarea>
            <button type="submit" class="nav-link text-white custom-background-color">Regresar</button>
        </form>
    </div>
</div>