
@model Producto
@{
    ViewData["Title"] = "Crear Producto";
}
@{
    User user = ViewBag.User as User;
    Console.WriteLine(user.CodigoAcceso);
}
<h1>@ViewData["Title"]</h1>

<p>En esta página se crean los productos.</p>

<form method="post">
    <div class="mb-3">
        <label>Nombre de libro:</label>
        <input asp-for="Nombre" class="form-control" placeholder="Ej: El Principito">
    </div>
    <div class="mb-3">
        <label>Autor del libro:</label>
        <input asp-for="Autor" class="form-control" placeholder="Ej: Antoine de Saint-Exupéry">
    </div>
    <div class="mb-3">
        <label>Genero literario:</label>
        <input asp-for="Genero" class="form-control" placeholder="Ej: Infantil">
    </div>
    <div class="mb-3">
        <label>Sinopsis:</label>
        <textarea asp-for="Descripcion" class="form-control" placeholder="Ej: Fábula mítica y relato filosófico que interroga acerca de la relación del ser humano con su prójimo y con el mundo, El Principito..."></textarea>
    </div>
    <div class="mb-3">
        <label>Cantidad disponibles:</label>
        <input asp-for="Cantidad" class="form-control" placeholder="Ej: 99">
    </div>
    <input type="hidden" asp-for="IdUsuario" value="@user.IdUsuario" />
    <div class="col-6">
        <button type="submit" asp-action="Create" class="btn custom-btn-color">Guardar</button>
    </div>
</form>
<div class="col-6">
    <form method="post" asp-area="" asp-controller="Producto" asp-action="Index">
        <textarea name="user" style="display:none;">@Json.Serialize(user)</textarea>
        <button type="submit" class="nav-link text-white custom-btn-color-2">Regresar</button>
    </form>
</div>
<div class="col-6">
    <form method="post" asp-area="" asp-controller="User" asp-action="Index">
        <textarea name="user" style="display:none;">@Json.Serialize(user)</textarea>
        <button type="submit" class="nav-link text-white custom-btn-color-2">Regresar</button>
    </form>
</div>