
@model Producto
@{
    ViewData["Title"] = "Crear Producto";
}
<h1>@ViewData["Title"]</h1>

<p>En esta página se crean los productos.</p>

<form method="post">
    <div class="mb-3">
        <label>Nombre de libro:</label>
        <input asp-for="Nombre" class="form-control" placeholder="Ej: El Principito">
    </div>
    <div class="mb-3">
        <label>Autor del libro:</label>
        <input asp-for="Autor" class="form-control" placeholder="Ej: Antoine de Saint-Exupéry">
    </div>
    <div class="mb-3">
        <label>Genero literario:</label>
        <input asp-for="Genero" class="form-control" placeholder="Ej: Infantil">
    </div>
    <div class="mb-3">
        <label>Sinopsis:</label>
        <textarea asp-for="Descripcion" class="form-control" placeholder="Ej: Fábula mítica y relato filosófico que interroga acerca de la relación del ser humano con su prójimo y con el mundo, El Principito..."></textarea>
    </div>
    <div class="mb-3">
        <label>Cantidad disponibles:</label>
        <input asp-for="Cantidad" class="form-control" placeholder="Ej: 99">
    </div>
    <div class="row col-6">
        <div class="col-6">
            <button type="submit" class="btn custom-btn-color-2">Regresar</button>
        </div>
        <div class="col-6">
            <button type="submit" class="btn custom-btn-color">Crear</button>
        </div>
    </div>
    
</form>
