@model Producto
@{
    ViewData["Title"] = "Detalles de Productos";
}
@{
    User user = ViewBag.User as User;
    Console.WriteLine(user.CodigoAcceso);
}
<h1>@ViewData["Title"]</h1>

<p>En esta página se muestra el detalle de los productos.</p>

<div class="mb-3">
    <label>Nombre del libro:</label>
    <input asp-for="Nombre" class="form-control" readonly>
</div>
<div class="mb-3">
    <label>Autor del libro: </label>
    <input asp-for="Autor" class="form-control" readonly>
</div>
<div class="mb-3">
    <label>Genero literario: </label>
    <input asp-for="Genero" readonly class="form-control">
</div>
<div class="mb-3">
    <label>Sinopsis:</label>
    <textarea asp-for="Descripcion" readonly class="form-control"></textarea>
</div>
<div class="mb-3">
    <label>Cantidad disponibles:</label>
    <input asp-for="Cantidad" class="form-control" readonly>
</div>
<div class="row col-6">
    <<form method="post" asp-area="" asp-controller="Producto" asp-action="Index">
        <textarea name="user" style="display:none;">@Json.Serialize(user)</textarea>
        <button type="submit" class="nav-link text-white custom-background-color">Productos</button>
    </form>
</div>