@model Producto
@{
    ViewData["Title"] = "Editar Producto";
}
@{
    User user = ViewBag.User as User;
    Console.WriteLine(user.IdUsuario);
}
<h1>@ViewData["Title"]</h1>
<link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
<p>En esta página se editan los productos.</p>
<form method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="IdProducto"/>
    <div class="col-2">
        <img src="@Model.urlImage" height="250" width="185"
             style="border-radius: 5px; border: 1px solid #bbb9b9;" />
    </div>
    <div class="mb-3">
        <label>Nombre del libro: </label>
        <input asp-for="Nombre" class="form-control">
    </div>
    <div class="mb-3">
        <label>Autor del libro: </label>
        <input asp-for="Autor" class="form-control">
    </div>
    <div class="mb-3">
        <label>Genero literario: </label>
        <input asp-for="Genero" class="form-control">
    </div>
    <div class="mb-3">
        <label>Sinopsis: </label>
        <textarea asp-for="Descripcion" class="form-control"></textarea>
    </div>
    <div class="mb-3">
        <label>Cantidad disponibles:</label>
        <input asp-for="Cantidad" class="form-control">
    </div>
    <input type="hidden" asp-for="IdUsuario" value="@user.IdUsuario" />
    <div class="mb-3">
        <label>Imagen</label>
        <input type=file name="file" asp-for="urlImage" class="form-control">
    </div>
    <div class="col-6">
        <button type="submit" asp-action="Edit" class="btn custom-btn-color">Guardar</button>
    </div>
</form>
    <div class="col-6">
        <form method="post" asp-area="" asp-controller="Producto" asp-action="Index">
            <textarea name="user" style="display:none;">@Json.Serialize(user)</textarea>
        <button type="submit" class="nav-link text-white custom-btn-color-2">Regresar</button>
        </form>
    </div>
